span.details {
    color: #f49e42;
}

#main {
}

#map {
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -420px;
    width: 840px;
    height: 800px;
    border: 1px solid #777;
}

body {
	font-family: sans-serif;
}